article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #5a45a0;
	--color-link-hover: #fff;
	--color-bg-content: #5b6598;
	--color-title: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: linotype-didot, Didot, "Didot LT STD", "Bodoni MT", "ltc-bodoni-175", "Hoefler Text", Garamond, "Times New Roman", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	pointer-events: none;
	visibility: hidden;
	position: fixed;
	z-index: -1;
}

.cursor, .cursor__inner {
	z-index: 9999;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
}

.cursor__inner--circle {
	/*width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #de448d; */
}

.cursor__inner--cross {
/*	width: 30px;
	height: 30px;*/
}

.cursor__inner--cross::before,
.cursor__inner--cross::after {
	/*position: absolute;
	top: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: #A21020;
	left: calc(50% - 1px);
	transform: rotate(45deg);*/
}

.cursor__inner--cross::after {
	/*transform: rotate(-45deg);*/
}

.cursor__inner--text {
	/*white-space: nowrap;
	left: 30px;
	margin-top: 1px;
	color: #9A9A9A;*/
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: fixed;
	z-index: 1000;
	width: 100%;
	text-transform: lowercase;
}

.demo-4 .frame {
	mix-blend-mode: color-dodge;
}

.frame__title-wrap {
	text-transform: capitalize;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:first-child)::before {
	content: '|';
	margin: 0 1rem 0 0;
}

.frame__nav a,
.frame__links a:not(:last-child),
.frame__demos span, .frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__main {
	font-size: 1.5rem;
	margin: 0;
}

.frame__nav,
.frame__main,
.frame__version {
	display: none;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	background-color: var(--color-bg-content);
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: 50% 30%;
	background-size: cover;
	background-blend-mode: soft-light;
	cursor: pointer;
}

.content__title {
	font-size: 10vw;
	will-change: transform;
	mix-blend-mode: overlay;
	text-align: center;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

.grid-wrap--hidden {
	pointer-events: none;
}

.grid {
	display: grid;
	width: 100%;
	height: 100vw;
	--cell-number: 12;
	--cell-size: 8.3333vw;
	grid-template-columns: repeat(auto-fill, var(--cell-size));
	will-change: transform;
}

@media screen and (orientation: portrait) {
	.grid {
		height: auto;
		--cell-number: 6;
		--cell-size: 16.6666vw;
	}
}

.grid__item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	height: var(--cell-size);
	outline: 1px solid rgba(0,0,0,0.87);
}

.grid__item-inner {
	width: 100%;
	height: 100%;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
}

.demo-3 .grid__item-inner {
	background-blend-mode: color-dodge;
	background-color: #332d4a;
}

.demo-1 .grid__item-inner {
	filter: grayscale(1);
}

.grid__item-inner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.87);
	transition: background 0.1s ease;
}

.demo-4 .grid__item-inner::after {
	background: rgba(255,255,255,0);
}

.grid__item-inner:hover::after {
	background: rgba(0,0,0,0.77);
}

.demo-4 .grid__item-inner:hover::after {
	background: rgba(255,255,255,0.5);
}

@media screen and (min-width: 53em) {
	body {
		overflow: hidden;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2rem 2.5rem;
		pointer-events: none;
		grid-template-columns: 40% 30% 30%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'nav demos main'
							'... ... ...'
							'title ... version';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		grid-column: span 2;
		pointer-events: auto;
	}
	.frame__title {
		margin: 0 2rem 0 0;
	}
	.frame__main {
		display: block;
		justify-self: end;
	}
	.frame__main::before {
		content: '\2015';
	}
	.frame__nav {
		display: block;
		grid-area: nav;
		align-self: center;
		pointer-events: auto;
	}
	.frame__version {
		display: block;
		grid-area: version;
		justify-self: end;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: start;
		align-self: center;
		pointer-events: auto;
	}
	.frame a {
		pointer-events: auto;
	}
	.grid-wrap {
		height: 100vh;
		overflow: hidden;
	}
}